<!-- Beginning of Solus Site Footer -->
<footer>
	<!-- Beginning of Copyright & Menus -->
	<div data-solbit="footer-menus">
		{{ $siteMenus := .Site.Menus }}
		{{ range .Site.Params.footermenu }}
			{{ $menuName := . }}
			{{ with (index $siteMenus .) }}
				<div data-solbit="full-width-row">
					<b>{{ replace (humanize $menuName) "menu" "" }}:</b>
					<span>
						{{ range after 1 . }}
							{{ if hasPrefix .URL "irc://" }}
								<a href="{{ safeURL .URL }}">{{ .Name }}</a>
							{{ else }}
								<a href="{{ .URL | absURL }}">{{ .Name }}</a>
							{{ end }}
						{{ end }}
					</span>
				</div>
			{{ end }}
		{{ end }}
		</span>
		<p>
			Copyright © 2015-{{ .Site.Params.copyright }} Solus Project. The Solus logo is Copyright © 2016-{{ .Site.Params.copyright }} Solus Project.<br />
			All rights reserved.
		</p>
	</div>
	<!-- End of Copyright & Menus -->
	<!-- Friends -->
	<div data-solus-component="solus-rss">
		<a href="{{ .Site.BaseURL }}blog/index.xml" data-solbit-icon="rss"></a>
	</div>
	<script type="text/javascript">
		solbit.Init();
	</script>
</footer>
<!-- {{ template "_internal/google_analytics_async.html" . }}-->