{{ $site := .Site }}
<!-- Beginning of Solus Site Header -->
<header>
	<a href="{{ .Site.BaseURL }}home">{{ partial "altimg.html" (dict "image" "logo.png" "dir" "/imgs/" ) }}</a>
	{{- $pagePermalink := .Permalink -}}
	<section>
		{{ $menus := index $site.Params.menus "main" }}
		{{ range $id := $menus}}
			{{ $name := title (replace $id "_" " ") }}
			{{ $url := index $site.Params.menuurls $id }}
			{{ if hasPrefix $url "http" }}
				<a href="{{ safeURL $url }}">{{ $name }}</a>
			{{ else }}
				<a href="{{ $url | absLangURL }}">{{ $name }}</a>
			{{ end }}
		{{ end }}
	</section>
	<div data-solbit="button" data-solbit-icon="menu" data-solbit-custom></div>
</header>
<!-- End of Solus Site Header -->