<!-- Beginning of Solus Site Header -->
<header>
	<a href="{{ .Site.BaseURL }}home">{{ partial "altimg.html" (dict "image" "logo.png" "dir" "/imgs/" ) }}</a>
	{{- $pagePermalink := .Permalink -}}
	<section>
		{{- range .Site.Menus.main }}
			{{- $absoluteMenuURL := (.URL | absLangURL) -}}
			<a href="{{ $absoluteMenuURL }}"{{- if hasPrefix "$pagePermalink" "$absoluteMenuURL" -}}active{{- end -}}>{{ i18n .Name }}</a>
		{{ end -}}
	</section>
	<div data-solbit="button" data-solbit-icon="menu" data-solbit-custom></div>
</header>
<!-- End of Solus Site Header -->
