<!-- Begnning of Metadata -->
<head>
<!-- Page Info -->
{{ $pageTitle := i18n (lower .Title) | default (title .Title) }}
{{ if ne .Section "articles"}}
	<title>{{ $pageTitle }} | Solus</title>
	<meta property="og:title" content="{{ $pageTitle }} | Solus" />
{{ else }}
	<title>{{ $pageTitle }} | Solus Help Center</title>
	<meta property="og:title" content="{{ $pageTitle }} | Solus Help Center" />
{{ end }}
<!-- Beginning of Author Info -->
{{ if isset .Params "author" }}
	{{ $author := index .Site.Data.users .Params.author }}
	<meta name="author" content="{{ $author.Name }}" />
	{{ $splitName := (split $author.Name " ") }}
	<meta property="og:profile:first_name" content="{{ index $splitName 0 }}"/>
	<meta property="og:profile:gender" content="{{ $author.Gender }}" />
	<meta property="og:profile:last_name" content="{{ index $splitName 1 }}"/>
	<meta property="og:profile:username" content="{{ .Params.author }}"/>
{{ end }}
<!-- End of Author Info -->
<!-- Beginning of Featured Image -->
{{ if and (isset .Params "featuredimage") (ne .Params.featuredimage "") }}
	<meta property="og:image" content="{{ .Site.BaseURL }}/imgs/posts/{{ .Params.featuredimage }}" />
{{ end }}
<!-- End of Featured Image -->
<meta property="og:link" content="{{ .Permalink }}" />
<!-- End of Page Info -->

<!-- Beginning of Blog Post Specific Content (Requires Summary) -->
{{ if isset . "Summary" }}
	<!-- Beginning of Description -->
	{{ $plainSummary := substr (.page.Summary | plainify) 0 140 }}
	<meta name="description" content="{{ $plainSummary }}" />
	<meta property="og:description" content="{{ $plainSummary }}" />
	<!-- End of Description -->
{{ end }}
<!-- End of Blog Post Specific Content -->

{{ if isset . "Lastmod" }}
	<meta name="article:modified_time" content="{{ .Lastmod }}" />
{{ end }}

{{ if isset . "PublishedDate" }}
	<meta name="article:published_time" content="{{ .PublishedDate }}" />
{{ end }}

{{ $generalMetaTags := "solus, linux, operating system, budgie, mate" }}
{{ $metaCompliantPageTitle :=  delimit (split (lower $pageTitle) " ") ", " }}

{{ if or (eq .Section "articles") (eq .Section "help-center") }}
	<meta name="keywords" content="ask solus, help center, {{ $generalMetaTags }}, {{ $metaCompliantPageTitle }}" />
{{ else }}
	<meta name="keywords" content="{{ $generalMetaTags }}, {{ $metaCompliantPageTitle }}" />
{{ end }}

<!-- Site Info -->
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, maximum-scale=1.0, initial-scale=1,user-scalable=no" />
<meta property="og:site_name" content="Solus" />
<meta property="og:locale" content="{{ .Site.Language.Lang }}" />
<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/website.css" />
<link rel="icon" href="{{ .Site.BaseURL}}/imgs/favicon.ico" />
<script type="text/javascript" src="{{ .Site.BaseURL}}/js/highlight.min.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL}}/js/solbit.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL}}/js/site.min.js"></script>
{{ .Hugo.Generator }}
{{ if .RSSLink }}
<link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
<link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
{{ end }}
<!-- End of Site Info -->
</head>
<!-- End of Metadata -->
