{{ $site := .Site }}
<div data-solbit="content-overlay"></div>
<div data-solbit="sidepane">
	<div data-solbit="full-width-box">
		{{ $menus := index $site.Params.menus "main" }}
		{{ range $id := $menus}}
			{{ $name := title (replace $id "_" " ")}}
			{{ $url := index $site.Params.menuurls $id }}
			<span>
				{{ if hasPrefix $url "http" }}
					<a href="{{ safeURL $url }}" target="_blank">{{ $name }}</a>
				{{ else }}
					<a href="{{ $url | absURL }}">{{ $name }}</a>
				{{ end }}
			</span>
		{{ end }}
	</div>
</div>