<!DOCTYPE html>
<html lang="en">
{{ partial "metadata.html" . }}
	<body>
		{{ partial "sidepane.html" . }}
		<div data-solus-component="main">
			{{ partial "header.html" . }}
			<div data-solus-component="content">
				<div data-solus-component="view-container">
					<div data-solus-component="view-primary">
						{{ partial "blog/info.html" (dict "blog" . "site" .Site) }}
						<div data-solus-component="blog-content">
							{{ if and (isset .Params "featuredimage") (ne .Params.featuredimage "") }}
								{{ partial "altimg.html" (dict "image" .Params.featuredimage "class" "featured-image" "dir" "/imgs/posts/")}}
							{{ end }}
							{{ .Content }}
						</div>
					</div>
					<div data-solus-component="view-secondary">
						{{ partial "blog/panel.html" . }}
					</div>
				</div>
			</div>
		</div>
		{{ partial "footer.html" . }}
	</body>
</html>
