[submodule "solus-styling"]
	path = solus-styling
	url = git@gitlab.com:solus-project/solus-styling
	branch = redesign-2.0
[submodule "solus-webplatform-js"]
	path = solus-webplatform-js
	url = git@gitlab.com:solus-project/solus-webplatform-js
[submodule "solbit"]
	path = solbit
	url = https://github.com/solus-project/solbit.git
[submodule "help-center-docs"]
	path = help-center-docs
	url = git@github.com:solus-project/help-center-docs
