{{ $site := .Site }}
<!-- Beginning of Categories -->
<div data-solbit="full-width-box">
    <h3>Categories</h3>
    {{ range $category := $site.Params.category }}
		{{ $categoryURL := printf "categories/%s" $category | absLangURL }}
        <span>
            <a href="{{ $categoryURL }}">{{ if ne $category "twis" }}{{ title $category }}{{ else  }}TWIS{{ end }}</a>
            <a href="{{ $categoryURL}}/index.xml" data-solbit-icon="rss"></a>
        </span>
    {{ end }}
</div>
<!-- End of Categories -->
