{{ $site := .site }}
<span data-solus-component="download-header">Install today. Updates forever.</span>
{{ range $edition := (slice "Budgie" "Mate") }}
	{{ $editionInfo := (index $site.Data.isos.info $edition )}}
	<!-- For each edition -->
	<div data-solus-component="solus-edition-section">
		<img alt="Solus {{ $edition }} Image" src="{{ $site.BaseURL}}/imgs/release-images/Solus-{{ $edition }}.jpg" />
		<h1>Solus{{ if eq $edition "Mate" }} Mate{{ end }}</h1>
		<p>{{ $editionInfo.description }}</p>
		<section data-solus-component="solus-media">
			<div data-solus-minor-component="solus-media-locations">
				{{ range $locationKey := (slice "americas" "europe") }}
					{{ $locationInfo := (index $site.Data.isos $locationKey) }}
					<span>
						<b>{{ $locationInfo.Name }}</b>
						{{ range $location, $url := $locationInfo.Locations }}
							{{ $locationName := (replace $location "_" " ") }}
							<a href="{{ $url }}/Solus-{{ $site.Data.info.version }}-{{ $edition }}.iso">{{- $locationName -}}</a>
						{{ end }}
					</span>
				{{ end }}
			</div>
			<div data-solus-minor-component="solus-extra-info">
				Media Size: {{ $editionInfo.mediasize }}<br />
				Alternative Download: <a href="{{ $editionInfo.torrent }}">Torrent</a>
			</div>
		</section>	
	</div>
{{ end }}