{{ $site := .site }}
{{ $content := .content }}
<div data-solus-component="download-banner">
	<h1>Install today. Updates forever.</h1>
	<h2>Simply choose an edition!</h2>
</div>
<div data-solbit="content" data-solus-component="download-page">
	<div data-solus-component="download-grid">
		{{ range $edition := (slice "Budgie" "GNOME" "MATE") }}
			{{ $editionInfo := (index $site.Data.isos.info $edition )}}
			<!-- For each edition -->
			<div data-solus-component="solus-edition">
				<img alt="Solus {{ $edition }} Image" src="{{ $site.BaseURL}}/imgs/release-images/{{ $site.Data.isos.info.Version }}/{{ $edition }}.png" />
				<h1>Solus {{ $edition  }}</h1>
				<h2>{{ $editionInfo.description }}</h2>
				<div data-solus-component="edition-obtain">
					<section data-solus-component="solus-direct-download">
						<div data-solus-component="buttongroup">
							<div data-solbit="button" data-solbit-custom data-solbit-icon="pin" data-solus-component="solus-closest-download" data-solus-edition="{{ $edition }}" data-solus-version="{{ $site.Data.isos.info.Version }}">Closest</div>
							<div data-solbit="button" data-solbit-custom data-solbit-icon="list" data-solbit-toggleable data-solus-component="solus-all-mirrors">All</div>
						</div>
						<div data-solbit="list" data-solus-minor-component="solus-mirrors-list">
							{{ range $item := $site.Data.mirrors }}
								<div data-solbit="list-item">
									{{ $fullurl := printf "%sSolus-%s-%s.iso" $item.Url $site.Data.isos.info.Version $edition | safeURL }}
									<a href="{{ $fullurl }}">{{- $item.Location -}}</a>
								</div>
							{{ end }}
						</div>
					</section>
					<section data-solus-minor-component="solus-extra-info">
						Media Size: {{ $editionInfo.mediasize }}<br />
						Alternative Download: <a href="{{ $editionInfo.torrent }}">Torrent</a><br />
						{{ $sha256url := printf "http://soluslond1iso.stroblindustries.com/Solus-%s-%s.sha256sum" $site.Data.isos.info.Version $edition | safeURL }}
						SHA256SUMS: <a href="{{ $sha256url }}" target="_blank">File</a> | <a href="{{ $sha256url }}.sign" target="_blank">Signed File</a> | <a href="https://archive.solus-project.com/solus.gpg" target="_blank">Public Key</a>
					</section>
				</div>
			</div>
		{{ end }}

		<div data-solus-component="solus-download-info">
			<section>
				{{ $content }}
			</section>
		</div>
		<a title="hidden-download-url"></a>
	</div>
</div>