<div data-solus="support-item" data-solbit-flexrow>
	<h2>How can I get involved in Solus development?</h2>
	<section>
		<p>
			<ul>
				<li>Help fix bugs on the <a href="https://dev.getsol.us/">development portal</a></li>
				<li>Submit <a href="https://dev.getsol.us/maniphest/task/edit/form/4/">new software</a> and updates to benefit all Solus users</li>
				<li>Contribute patches, fixes and features for our <a href="https://github.com/solus-project">open source software</a></li>
				<li>Improve our <a href="https://github.com/solus-project/budgie-desktop">Budgie Desktop</a> experience</li>
				<li>Translate <a href="https://www.transifex.com/solus-project/solus-sc">Solus</a> and <a href="https://www.transifex.com/budgie-desktop/budgie-desktop/">Budgie Desktop</a> to your native language to enhance multilingual support</li>
			</ol>
		</p>
	</section>
</div>