<div data-solus="support-item" data-solbit-flexrow>
	<h2>How can I get involved in Solus development?</h2>
	<section>
		<p>
			<ul>
				<li>Help fix bugs on the <a href="https://dev.getsol.us/">development portal</a></li>
				<li>Submit <a href="https://dev.getsol.us/maniphest/task/edit/form/4/">new software</a> and updates to benefit all Solus users</li>
				<li>Contribute patches, fixes and features for our <a href="https://github.com/getsolus">open source software</a></li>
				<li>Improve our <a href="https://github.com/solus-project/budgie-desktop">Budgie Desktop</a> experience</li>
				<li>Translate <a href="https://translate.getsol.us">our supported projects</a> to your native language to enhance multilingual support</li>
			</ol>
		</p>
	</section>
</div>