<div data-solus="support-item" data-solbit-flexrow>
	<h2>Supporting via PayPal</h2>
	<section>
		<p>PayPal allows you to quickly make one off donations, as a quick way of saying “thank you”. All of the processing is handled by PayPal's infrastructure.</p>
	</section>
	<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
		<input type="hidden" name="cmd" value="_donations">
		<input type="hidden" name="bn" value="TipsandTricks_SP">
		<input type="hidden" name="business" value="root@solus-project.com">
		<input type="hidden" name="item_name" value="Support Solus Project (And Budgie Desktop)">
		<input type="hidden" name="rm" value="0">
		<input type="hidden" name="currency_code" value="EUR">
		<button data-solbit="button" name="submit" type="submit" data-solbit-size="large" data-solbit-enfsize>Donate</button>
	</form>
</div>