<div data-solus="support-item" data-solbit-flexrow>
	<h2>What do we need?</h2>
	<section>
		<p>
			In order to develop Solus, we have to:
			<ol>
				<li>Operate a small network of servers</li>
				<li>Obtain and replace hardware</li>
				<li>Pay for general hardware-related utilities such as network connectivity</li>
				<li>Maintain and expand infrastructure like domains and SSL certificates.</li>
			</ol>
		</p>
		<p>Additionally, the enabling of a full-time developer to work on Solus would be beneficial to the execution of our roadmap and many long-term goals the project has.</p>
	</section>
</div>