<div data-solus="support-item" data-solbit-flexrow>
	<h2>What is our plan?</h2>
	<section>
		<p>
			2017 is dedicated to introducing features and addressing issues, such as:
			<ol>
				<li>Dynamic switchable graphics</li>
				<li>Integrated systems for recovery, migration, and backup management.</li>
				<li>Improving the end-user experience with a major rewrite of Budgie and improvements to our Brisk Menu for MATE.</li>
				<li>Enhanced developer tooling.</li>
			</ol>
		</p>
		<p>
			Alongside these improvements, we are committed to routine releases of Solus. These releases have individual goals by themselves, and you can see more on our
			<a href="https://dev.solus-project.com/project/view/17/" target="_blank">Snapshots dashboard</a>.
		</p>
	</section>
</div>