{{- $context := .context -}}

{{- $disableSidebar := .disableSidebar | default false -}}
{{- $displayPlaceholder := .displayPlaceholder | default false -}}

{{- if .context.Params.sidebar.hide -}}
  {{- $disableSidebar = true -}}
  {{- $displayPlaceholder = false -}}
{{- end -}}

{{- $sidebarClass := "md:sticky" -}}
{{- if $disableSidebar -}}
  {{- if $displayPlaceholder -}}
    {{- $sidebarClass = "md:hidden xl:block" -}}
  {{- else -}}
    {{- $sidebarClass = "md:hidden" -}}
  {{- end -}}
{{- end -}}

<aside class="hextra-sidebar-container hx:flex hx:flex-col hx:print:hidden hx:md:top-16 hx:md:shrink-0 hx:md:w-64 hx:md:self-start hx:max-md:[transform:translate3d(0,-100%,0)] {{ $sidebarClass }}">
  <div class="hextra-scrollbar overflow-y-auto overflow-x-hidden px-4 grow md:h-[calc(100vh-var(--navbar-height)-var(--menu-height))]">
    <ul class="flex flex-col gap-1 md:hidden">
      <!-- Nav -->
      {{ template "sidebar-main" (dict "page" $context.Page) -}}
    </ul>

    <!-- Sidebar on large screen -->
    {{- if $disableSidebar -}}
      {{- if $displayPlaceholder }}<div class="max-xl:hidden h-0 w-64 shrink-0"></div>{{ end -}}
      {{ .context.Store.Set "enableFooterSwitches" true }}
    {{- else -}}
      <ul class="flex flex-col gap-1 max-md:hidden">
        {{ template "sidebar-main" (dict "page" $context.Page) }}
      </ul>
    {{ end -}}
  </div>
  {{/* Hide theme switch when sidebar is disabled */}}
  {{ $switchesClass := cond $disableSidebar "md:hidden" "" -}}

  <div class="{{ $switchesClass }} sticky bottom-0 max-h-(--menu-height) mx-4 py-4 shadow-[0_-12px_16px_#fff] flex items-center gap-2 border-gray-200 dark:border-neutral-800 dark:shadow-[0_-12px_16px_#111] contrast-more:border-neutral-400 contrast-more:shadow-none contrast-more:dark:shadow-none border-t" data-toggle-animation="show">
    <div class="flex grow flex-col">{{ partial "theme-toggle" }}</div>
  </div>
</aside>

{{- define "sidebar-main" -}}
  {{- $page := .page }}
  {{- $pageURL := .page.RelPermalink -}}

  <div class="ltr:pr-0 overflow-hidden">
    <ul class='relative flex flex-col gap-1 ltr:ml-3 ltr:pl-3 ltr:before:left-0 rtl:mr-3 rtl:pr-3 rtl:before:right-0 dark:before:bg-neutral-800'>
      {{- range site.Menus.main -}}
        {{- if eq .Params.type "theme-toggle" -}}
          {{/* Doing it this way because I couldn't get it to work another way. */}}
        {{- else -}}
          {{- $link := .URL -}}
          {{- with .PageRef -}}
            {{- if hasPrefix . "/" -}}
              {{- $link = relLangURL (strings.TrimPrefix "/" .) -}}
            {{- end -}}
          {{- end -}}

          {{- $active := eq (relLangURL (strings.TrimSuffix "/" $pageURL)) $link -}}
          <li>
            {{- template "sidebar-item-link" dict "active" $active "title" .Name "link" $link -}}
          </li>
        {{- end -}}
      {{- end -}}
    </ul>
  </div>
{{- end -}}

{{- define "sidebar-item-link" -}}
  {{- $external := .external | default false -}}
  {{- $open := .open | default true -}}
  <a
    class="flex items-center justify-between gap-2 cursor-pointer rounded-sm px-2 py-4 transition-colors [-webkit-tap-highlight-color:transparent] [-webkit-touch-callout:none] [word-break:break-word]
    {{- if .active }}
      hextra-sidebar-active-item bg-primary-100 font-semibold text-primary-800 contrast-more:border contrast-more:border-primary-500 dark:bg-primary-400/10 dark:text-primary-600 contrast-more:dark:border-primary-500
    {{- else }}
      text-gray-500 hover:bg-gray-100 hover:text-gray-900 contrast-more:border contrast-more:border-transparent contrast-more:text-gray-900 contrast-more:hover:border-gray-900 dark:text-neutral-400 dark:hover:bg-primary-100/5 dark:hover:text-gray-50 contrast-more:dark:text-gray-50 contrast-more:dark:hover:border-gray-50
    {{- end -}}"
    href="{{ .link }}"
    {{ if $external }}target="_blank" rel="noreferrer"{{ end }}
  >
    {{- .title -}}
  </a>
{{- end -}}

{{- define "sidebar-collapsible-button" -}}
  <svg fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-[18px] min-w-[18px] rounded-xs p-0.5 hover:bg-gray-800/5 dark:hover:bg-gray-100/5"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" class="origin-center transition-transform rtl:-rotate-180"></path></svg>
{{- end -}}
