{{ $site := .Site }}
<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
	{{ partial "metadata.html" . }}
	<body>
		{{ partial "sidepane.html" . }}
		<div data-solbit="main">
			{{ partial "header.html" . }}
			<div data-solbit="content">
				{{ if eq .URL "/" }}
					{{ partial "pages/home.html" (dict "site" .Site "title" .Title) }}
				{{ else }}
					{{ $blogPosts := .Paginator.Pages }}
					{{ $firstBlog := (index $blogPosts 0) }}
					{{ if and (isset $firstBlog.Params "featuredimage") (ne $firstBlog.Params.featuredimage "") }}
						<!-- Beginning of Featured Blog Post -->
						<div data-solus="featured-blog-post" itemscope itemtype="http://schema.org/NewsArticle">
							<meta itemscope itemprop="mainEntityOfPage"  itemType="https://schema.org/WebPage" itemid="{{ $firstBlog.URL | absURL }}"/>
							<div data-solus-type="featured-blog-info">
								{{ partial "blog/info.html" (dict "blog" $firstBlog "site" .Site) }}
								{{ if ge (len $firstBlog.Summary) 397 }}
									<p itemprop="description">{{- htmlUnescape (plainify (safeHTML (substr $firstBlog.Summary 0 397))) -}}...</p>
								{{ else }}
									<p itemprop="description">{{- htmlUnescape (plainify (safeHTML $firstBlog.Summary)) -}}</p>
								{{ end }}
								<a data-solbit="button" href="{{ $firstBlog.Permalink }}" data-solbit-size="large" data-solbit-enfsize>Read More</a>
							</div>
							{{ $url := (printf "imgs/posts/%s" $firstBlog.Params.featuredimage) | absURL }}
							<div itemprop="image" itemscope itemtype="https://schema.org/ImageObject" style="background-image: url('{{ $url }}')">
								<img src="{{ $url }}" />
								<meta itemprop="url" content="{{ $url }}" />
								{{ $localURL := printf "static/imgs/posts/%s" $firstBlog.Params.featuredimage }}
								{{ with (imageConfig $localURL) }}
									<meta itemprop="height" content="{{.Height}}px" />
									<meta itemprop="width" content="{{.Width}}px" />
								{{ end }}
							</div>
						</div>
						<!-- End of Featured Blog Post -->
						<!-- All Other Blog Posts -->
						<div data-solbit="view-container">
							<div data-solbit="view-primary">
								{{ if gt (len $blogPosts) 1 }}
									{{ range $blog := (after 1 $blogPosts) }}
										{{ partial "blog/info.html" (dict "blog" $blog "site" .Site "isfeatured" "no") }}
									{{ end }}
									{{ partial "blog/paginator.html" (dict "paginator" .Paginator "site" .Site) }}
								{{ end }}
							</div>
							<div data-solbit="view-secondary">
								{{ partial "blog/panel.html" . }}
							</div>
						</div>
						<!-- End of Other Blog Posts -->
					{{ else }}
						<!-- Beginning of Generic Blog List -->
						<div data-solbit="view-container">
							<div data-solbit="view-primary">
								{{ range $blog := $blogPosts }}
									{{ partial "blog/info.html" (dict "blog" $blog "site" .Site) }}
								{{ end }}
								{{ partial "blog/paginator.html" (dict "paginator" .Paginator "site" .Site) }}
							</div>
							<div data-solbit="view-secondary">
								{{ partial "blog/panel.html" . }}
							</div>
						</div>
						<!-- End of Generic Blog List -->
					{{ end }}
				{{ end }}
		</div>
		{{ partial "footer.html" . }}
	</body>
</html>
