<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
	{{ partial "metadata.html" . }}
	<body>
		{{ partial "sidepane.html" . }}
		<div data-solbit="main">
			{{ partial "header.html" . }}
			<div data-solbit="content">
				{{ $blogPosts := .Paginator.Pages }}
				{{ $firstBlog := (index $blogPosts 0) }}
				{{ if and (isset $firstBlog.Params "featuredimage") (ne $firstBlog.Params.featuredimage "") }}
					<!-- Beginning of Featured Blog Post -->
					<div data-solus="featured-blog-post">
						<div data-solus-type="featured-blog-info">
							{{ partial "blog/info.html" (dict "blog" $firstBlog "site" .Site) }}
							{{ if ge (len $firstBlog.Summary) 397 }}
								<p>{{- safeHTML (substr $firstBlog.Summary 0 397) -}}...</p>
							{{ else }}
								<p>{{- safeHTML $firstBlog.Summary -}}
							{{ end }}
							<a data-solbit="button" href="{{ $firstBlog.Permalink }}" data-solbit-size="large" data-solbit-enfsize>Read More</a>
						</div>
						{{ partial "altimg.html" (dict "image" $firstBlog.Params.featuredimage "dir" "/imgs/posts/" )}}
					</div>
					<!-- End of Featured Blog Post -->
					<!-- All Other Blog Posts -->
					<div data-solbit="view-container">
						<div data-solbit="view-primary">
							{{ if gt (len $blogPosts) 1 }}
								{{ range $blog := (after 1 $blogPosts) }}
									{{ partial "blog/info.html" (dict "blog" $blog "site" .Site) }}
								{{ end }}
								{{ partial "blog/paginator.html" (dict "paginator" .Paginator "site" .Site) }}
							{{ end }}
						</div>
						<div data-solbit="view-secondary">
							{{ partial "blog/panel.html" . }}
						</div>
					</div>
					<!-- End of Other Blog Posts -->
				{{ else }}
					<!-- Beginning of Generic Blog List -->
					<div data-solbit="view-container">
						<div data-solbit="view-primary">
							{{ range $blog := $blogPosts }}
								{{ partial "blog/info.html" (dict "blog" $blog "site" .Site) }}
							{{ end }}
							{{ partial "blog/paginator.html" (dict "paginator" .Paginator "site" .Site) }}
						</div>
						<div data-solbit="view-secondary">
							{{ partial "blog/panel.html" . }}
						</div>
					</div>
					<!-- End of Generic Blog List -->
				{{ end }}
		</div>
		{{ partial "footer.html" . }}
	</body>
</html>
