{{ $site := .Site }}
<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
	{{ partial "metadata.html" . }}
	<body>
		{{ partial "sidepane.html" . }}
		<div data-solbit="main" {{ if eq .Title "download"}}data-solbit-flexcol{{end}}>
			{{ partial "header.html" . }}
			{{ if eq .URL "/home/"}}
				{{ partial "pages/home.html" (dict "site" .Site "title" .Title) }}
			{{ else if eq .URL "/download/" }}
				{{ partial "pages/download.html" (dict "site" .Site "content" .Content) }}
			{{ else if  eq .URL "/branding/" }}
				{{ partial "pages/branding.html" (dict "site" .Site "content" .Content) }}
			{{ else if eq .URL "/press-center/" }}
				{{ partial "pages/press-center.html" (dict "page" . "content" .Content) }}
			{{ else if eq .URL "/support/" }}
				{{ partial "pages/support-us.html" }}
			{{ else }}
				{{ .Content }}
			{{ end }}
		</div>
		{{ partial "footer.html" . }}
	</body>
</html>
