{{ $blog := .blog }}
{{ $site := .site }}
{{ $isfeatured := .isfeatured }}

{{ if isset $blog.Params "author" }}
	{{ $author := (index $site.Data.users $blog.Params.author) }}

	{{ if isset $blog.Params "categories" }}
		<!-- Beginning of Post Info -->
		<div data-solus="post-info" {{ if eq $isfeatured "no" }}itemscope itemtype="http://schema.org/NewsArticle"{{end}}>
			<meta itemprop="datePublished" content="{{ $blog.Date }}" />
			<meta itemprop="dateModified" content="{{ $blog.Lastmod }}" />
			<meta itemprop="headline" content="{{ if isset $blog.Params "notitle" }}{{ replace ($blog.Title) "'S" "'s" }}{{ else }}	{{ replace (title $blog.Title) "'S" "'s" }}{{ end }}" />
			<h1><a href="{{ $blog.Permalink }}">
				{{ $sortS := replace ($blog.Title) "'S" "'s" }}
				{{ replace $sortS " | t" " | T" }}
			</a></h1>
			<span itemprop="author" itemscope itemtype="https://schema.org/Person"><span itemprop="name">{{ $author.Name }}</span> / <span itemprop="jobTitle">{{ $author.Role }}</span></span>
			<span>{{ dateFormat "January 2, 2006" $blog.Date }}
				{{ $categoriesLength := len $blog.Params.categories }}
				{{ $categoriesURL := "categories/" | absLangURL }}
				{{- if ne $categoriesLength 0 }}
					in
					{{ $secondToLast := index (last 2 $blog.Params.categories) 0 }}
					{{ $last := index (last 1 $blog.Params.categories) 0 }}
					{{ range $category := $blog.Params.categories }}
						<a href="{{ $categoriesURL }}{{ lower $category }}">{{- if eq $category "twis"}}TWIS{{ else }}{{ title $category }}{{ end -}}</a>
						{{- if gt $categoriesLength 1}}
							{{- if and (ne $category $secondToLast) (ne $category $last) }}{{ replace "," " " "" }}{{ else if ne $category $last }} and{{ end }}
						{{ end -}}
					{{ end }}
				{{ end -}}
			</span>
		</div>
		<!-- End of Post Info -->
	{{ end }}
{{ end }}
