{{ $blog := .blog }}
{{ $site := .site }}

{{ if isset $blog.Params "author" }}
	{{ $author := (index $site.Data.users $blog.Params.author) }}

	{{ if isset $blog.Params "categories" }}
		<!-- Beginning of Post Info -->
		<div data-solus-component="post-info">
			<h1><a href="{{ $blog.Permalink }}">
				{{ if isset $blog.Params "notitle" }}
					{{ replace ($blog.Title) "'S" "'s" }}
				{{ else }}
					{{ replace (title $blog.Title) "'S" "'s" }}
				{{ end }}
			</a></h1>
			<span>{{ $author.Name }} / {{ $author.Role }}</span>
			<span>{{ dateFormat "January 2, 2006" $blog.Date }}
				{{ $categoriesLength := len $blog.Params.categories }}
				{{ $categoriesURL := "categories/" | absLangURL }}
				{{- if ne $categoriesLength 0 }}
					in
					{{ $firstCategory := index (first 1 $blog.Params.categories) 0 }}
					<a href="{{ $categoriesURL }}{{ lower $firstCategory }}">{{- if eq (lower $firstCategory) "twis"}}TWIS{{ else }}{{ i18n (lower $firstCategory) }}{{ end -}}</a>
					{{- if gt $categoriesLength 2 }},{{end -}}
					{{ if gt $categoriesLength 1 }}
						{{ $followupCategories := first (sub $categoriesLength 1) (after 1 $blog.Params.categories) }}
						{{ $lastCategory := index (last 1 $blog.Params.categories) 0 }}

						{{- if ne (index $followupCategories 0) $lastCategory }}
							{{ range $category := $followupCategories }}
								<a href="{{ $categoriesURL }}{{ lower $category }}">{{ if eq (lower $category) "twis"}}TWIS{{ else }}{{ i18n (lower $category) }}{{ end }}</a>,
							{{ end }}
						{{ end }}

						and <a href="{{ $categoriesURL }}{{ lower $lastCategory }}">{{ if eq (lower $lastCategory) "twis"}}TWIS{{ else }}{{ i18n (lower $lastCategory) }}{{ end }}</a>
					{{ end -}}
				{{ end -}}
			</span>
		</div>
		<!-- End of Post Info -->
	{{ end }}
{{ end }}
