{{ $blog := .blog }}
{{ $site := .site }}

{{ if isset $blog.Params "author" }}
	{{ $author := (index $site.Data.users $blog.Params.author) }}

	<!-- Beginning of Post Info -->
	<div data-solus-component="post-info">
		<h1><a href="{{ $blog.Permalink }}">{{ $blog.Title }}</a></h1>
		<span>{{ $author.Name }} / {{ $author.Role }}</span>
		<b>{{ dateFormat "January 2, 2006" $blog.Date }} in
			{{ range $blog.Params.categories -}}
				<a href="{{ $site.BaseURL }}categories/{{ . }}">{{ if eq . "twis"}}TWIS{{ else }}{{ humanize . }}{{ end }}</a>
			{{ end -}}
		</b>
	</div>
	<!-- End of Post Info -->
{{ end }}
