<!-- Beginning of Pagination -->
{{ if gt .paginator.TotalPages 1 }}
	<div data-solus-component="paginate">
		{{ if .paginator.HasPrev }}
			{{ $previousPage := (sub .paginator.PageNumber 1) }}
			<a href="{{ .paginator.Prev.URL }}">{{ $previousPage }}</a>
		{{ end }}

		<a data-solus-component="button" data-solus-size="small" href="{{ .paginator.URL }}" active>{{ .paginator.PageNumber }}</a>

		{{ if .paginator.HasNext }}
			{{ $nextPage := (add .paginator.PageNumber 1) }}
			<a href="{{ .paginator.Next.URL }}">{{ $nextPage }}</a>
		{{ end }}
	</div>
{{ end }}
<!-- End of Pagination -->
