<!-- Beginning of Blog Sidepane -->
<div data-solus-component="blog-sidepane">
    <!-- Beginning of Categories -->
    <div data-solus-component="full-width-box">
        <h3>Categories</h3>
        {{ range .Site.Params.categories }}
            <a href={{ (printf "/categories/%s" .) | absURL }}>
                {{ if eq . "twis"}}
                    TWIS
                {{ else }}
                    {{ humanize . }}
                {{ end }}
            </a>
        {{ end }}
    </div>
    <!-- End of Categories -->
    <!-- Beginning of Press Centre Box -->
    <div data-solus-component="full-width-box">
        <h3>Press Centre</h3>
        A <a href={{ "/press-centre" | absURL}}>Press Center</a> is available for members of the press to acquire
        resources and contact information.
    </div>
    <!-- End of Press Centre Box -->
</div>
<!-- End of Blog Sidepane -->
