<!-- Start of edition component -->
{{- $name := .name -}}
{{- $logo := .logo -}}
{{- $projectURL := .projectURL -}}
{{- $description := .description -}}
{{- $mediaSize :=.mediaSize -}}
{{- $torrentSize := .torrentSize -}}
{{- $version := .version -}}
{{- $magnetURL := .magnetURL -}}

{{- $logoSrc := printf "/imgs/%s" $logo -}}

{{- $release := printf "Solus-%s-Release-%s" $name $version -}}
{{- $imagePath := printf "/imgs/release-images/%s/%s.jpg" $version $name -}}
{{- $isoURL := printf "https://downloads.getsol.us/isos/%s/%s.iso" $version $release | safeURL -}}
{{- $shasumURL := printf "https://downloads.getsol.us/isos/%s/%s.iso.sha256sum" $version $release | safeURL -}}
{{- $signatureURL := printf "https://downloads.getsol.us/isos/%s/%s.iso.sha256sum.sign" $version $release | safeURL -}}
{{- $torrentURL := printf "https://downloads.getsol.us/torrents/%s.iso.torrent" $release | safeURL -}}

<div class="flex flex-col border border-neutral-300/75 dark:border-neutral-700/75 rounded-2xl overflow-hidden">
  <div class="w-full aspect-video border-b border-neutral-300/75 dark:border-neutral-700/75 relative overflow-hidden">
    <img
      alt="Solus {{ $name }} Preview"
      class="object-cover"
      loading="lazy"
      decoding="async"
      src="{{ $imagePath | safeURL }}"
    />
  </div>
  <div class="p-6 flex flex-col flex-1">
    <div class="flex items-center gap-3.5">
      <div class="w-12 h-12 not-dark:bg-gray-100 bg-neutral-900 rounded-lg border border-neutral-300/75 dark:border-neutral-700/75 flex items-center justify-center shrink-0 p-2">
        <img
          class="w-full h-full object-contain rounded-lg"
          loading="lazy"
          width="48"
          height="48"
          src="{{ $logoSrc | safeURL }}"
        />
      </div>
      <div>
        <h3 class="text-xl font-semibold">{{ $name }}</h3>
        <span class="text-xs text-(--color-primary-500) hover:text-(--color-primary-400) font-medium"><a href="{{ $projectURL | safeURL }}" target="_blank" rel="noreferrer">{{ $projectURL }}</a></span>
      </div>
    </div>
    <div class="font-normal leading-relaxed text-gray-500 dark:text-gray-400 mt-6 flex-1">
      {{ $description }}
    </div>
    <div class="flex flex-col gap-2 mt-6 text-gray-500 dark:text-gray-400 text-xs">
      <p>Media size: {{ $mediaSize }}</p>
      <div class="inline-flex">
        <a href="{{ $shasumURL }}" download target="_blank" class="text-(--color-primary-500) hover:text-(--color-primary-400)">SHA checksum file</a>
      </div>
      <div class="inline-flex">
        <a href="{{ $signatureURL }}" download target="_blank" class="text-(--color-primary-500) hover:text-(--color-primary-400)">Checksum signature file</a>
      </div>
      <div class="inline-flex">
        <a href="{{ $magnetURL | safeURL }}" class="text-(--color-primary-500) hover:text-(--color-primary-400)">Magnet link</a>
      </div>
    </div>
    <div class="flex flex-col md:flex-row gap-4 mt-6">
      {{- partial "components/button" (dict
          "link" $isoURL
          "icon" "download"
          "text" "Download"
          "classes" "w-full md:w-1/2"
          "primary" true
        )
      -}}
      {{- partial "components/button" (dict
          "link" $torrentURL
          "icon" "lightning-bolt"
          "text" "Torrent"
          "classes" "w-full md:w-1/2"
        )
      -}}
    </div>
  </div>
</div>
