{{- $description := .description -}}
{{- $members := .members -}}
{{- $name := .name -}}
{{- $alt := .alt -}}

{{- if eq $alt true -}}
<section class="solus-section alt">
    <div class="solus-section-inner">
        <h2 class="text-4xl md:text-3xl font-semibold mb-10 text-(--color-primary-500)">{{ $name }}</h2>
        <p class="mb-5">{{ $description | markdownify }}</p>
        <div class="hextra-cards mt-4 gap-8 grid not-prose" style="--hextra-cards-grid-cols: 2;">
            {{- range $key, $value := $members -}}
                {{- $member := index site.Data.organization.people $key -}}
                {{- with $member -}}

                    {{- template "team-member" (dict
                        "description" $value
                        "matrix" $member.matrix
                        "names" $member.names
                        "websites" $member.websites
                        )
                    -}}
                {{- end -}}
            {{- end -}}
        </div>
    </div>
</section>
{{- else -}}
<div class="solus-section">
    <section class="solus-section-inner">
        <h2 class="text-4xl md:text-3xl font-semibold mb-10 text-(--color-primary-500)">{{ $name }}</h2>
        <p class="mb-5">{{ $description | markdownify }}</p>
        <div class="hextra-cards mt-4 gap-8 grid not-prose" style="--hextra-cards-grid-cols: 2;">
            {{- range $key, $value := $members -}}
                {{- $member := index site.Data.organization.people $key -}}
                {{- with $member -}}

                    {{- template "team-member" (dict
                        "description" $value
                        "matrix" $member.matrix
                        "names" $member.names
                        "websites" $member.websites
                        )
                    -}}
                {{- end -}}
            {{- end -}}
        </div>
    </section>
</div>
{{- end -}}

{{- define "team-member" -}}
    {{- $description := .description -}}
    {{- $matrix := .matrix -}}
    {{- $names := .names -}}
    {{- $websites := .websites -}}

    {{- $key := printf "%s%s" $names.first $names.last -}}
    {{- $avatar := printf "/imgs/avatars/%s.jpg" $key -}}

    <div class="hextra-card group flex gap-5 justify-start overflow-hidden rounded-lg border border-neutral-300/75 dark:border-neutral-200/75 bg-(--color-primary-200)/50 p-5 shadow-lg dark:border-gray-400 text-current no-underline" key="{{- $key -}}">
        <img alt={{ $key }} loading="lazy" decoding="async" src={{ $avatar }} width="125px" class="rounded-lg" />

        <div class="flex flex-col">
            <div class="flex-1 mb-2 mt-2">
                <div class="font-bold">
                    <span>{{ $names.first }} {{ with $names.middle }}{{ $names.middle }}{{ end }} {{ $names.last }}<span>
                </div>

                <div class="text-sm">
                    {{ $description }}
                </div>
            </div>

            <div class="text-xs not-prose mb-2 mt-2">Matrix: {{ $matrix }}</div>

            <div class="flex gap-2 mt-auto">
                {{- range $websites -}}
                    {{- $href := .href | safeURL -}}
                    {{- $icon := .icon -}}

                    <a href={{ $href }} target="_blank" rel="noreferrer" class="inline-flex items-center justify-center w-8 h-8 rounded-md bg-white/50 hover:bg-white dark:bg-gray-700/50 dark:hover:bg-gray-700 transition-colors">
                        {{ template "link-icon" dict "name" $icon }}
                    </a>
                {{- end -}}
            </div>
        </div>
    </div>
{{- end -}}

{{- define "link-icon" -}}
    {{- $name := .name -}}
    {{- $icon := index site.Data.icons $name -}}
    {{- $attributes := .attributes | default "height=1em"}}

    {{- if not $icon -}}
        {{ errorf "icon %q not found" $name }}
    {{- end -}}

    {{- $icon = replaceRE "<svg" (printf "<svg %s" $attributes) $icon -}}

    <span class="inline-block align-text-bottom hextra-icon">
        {{- $icon | safeHTML -}}
    </span>
{{- end -}}
