<div data-solus="banner" data-solus-type"built">
	<section>
		<h1>Built for people like you, by people like you.</h1>
		<p>Solus is built by and for the community, dedicated to improving the Solus experience, and enabled by the broad open source ecosystem and Linux.</p>
		<span>
			<a data-solbit="button" href="/articles/contributing/getting-involved/en/" data-solbit-size="large" data-solbit-enfsize>Get Involved</a>
			<a data-solbut="button" href="/solus/technologies" data-solbit-size="large" data-solbit-enfsize>Technologies</a>
		</span>
	</section>
</div>