{{ $site := .site }}
<div data-solus="banner" data-solus-type="built">
	<section>
		<h1>Built for people like you, by people like you</h1>
		<p>
			Solus is empowered by the shared vision of a strong community working for a common goal. All developments
			and improvements to Solus are by people who want to use their computers just like you do. Solus stands strong
			on an open platform, powered by industry-proven technologies, including GNU/Linux*.
		</p>
		<span data-solbit-flexrow>
			<a data-solbit="button" href="/articles/contributing/getting-involved/en/" data-solbit-size="large" data-solbit-enfsize>Get Involved</a>
			<a data-solbit="button" href="/solus/technologies" data-solbit-size="large" data-solbit-enfsize>Technologies</a>
		</span>
	</section>
	<img alt="Heart symbol" src="{{ $site.BaseURL }}/imgs/heart.png" />
</div>
