<div data-solus="banner" data-solus-type="designed-for-everyone">
	<section>
		<h1>Designed for Everyone</h1>
		<p>Solus provides a multitude of experiences that enable you to get the most out of your hardware.</p>
		<p>From our flagship Budgie experience for modern devices to the more traditional MATE experience for lower-end devices, Solus aims to provide the best experience for your device.</p>
		<span>
			<a data-solbit="button" href="/solus/experiences" data-solbit-size="large" data-solbit-enfsize>Learn More</a>
		</span>
	</section>
</div>