{{ $site := .site }}
{{ $class := .class }}

<div data-solus="banner" data-solus-type="for-showcase" class="{{ $class }}" data-solbit-flexrow>
	{{ $bannerInfo := index $site.Data.banner (replace $class "-" "") }}
	<section>
		<h1>{{ $bannerInfo.Header }}</h1>
		<p>{{ $bannerInfo.Content }}</p>
	</section>
	<div data-solus="for-showcase-items">
		{{ range $item, $description := $bannerInfo.Items }}
			<section>
				<img src="{{ $site.BaseURL }}/imgs/icons/banner-items/{{ $item }}.png" />
				<p>{{ $description }}</p>
			</section>
		{{ end }}
	</div>
</div>