{{ $title := .title }}
<div data-solus="banner" data-solus-type="solus">
	<section>
		<h1>Solus</h1>
		<p>
			Solus is an operating system that is designed for home computing.
			Every tweak enabling us to deliver a cohesive computing experience.
		</p>
		<span>
			{{ if eq $title "home"}}
				<a data-solbit="button" href="/solus" data-solbit-size="large" data-solbit-enfsize>Learn More</a>
			{{ end }}
			<a data-solbit="button" href="/download" data-solbit-size="large" data-solbit-enfsize>Download</a>
		</span>
	</section>
</div>