{{ $centerImage := .Get "centerimage" }}
{{ $headerText := .Get "header" }}
{{ $descriptionText := .Get "description" }}
{{ $primaryButton := .Get "primary-button" }}
{{ $secondaryButton := .Get "secondary-button" }}

<div data-solus-component="banner" {{ with .Get "subclass" }}data-solus-minor-component="{{ . }}"{{ end }}>
    <section>
        {{ with .Get "centerimage" }}<img src="{{- . -}}" />{{ end }}
        {{ with .Get "header" }}<h1>{{- . -}}</h1>{{end}}
        <p>{{ $descriptionText -}}</p>
        {{ if or (isset .Params "primary-button") (isset .Params "secondary-button") }}
            {{ range $button := (slice $primaryButton $secondaryButton) }}
                {{ $buttonInfo := (split $button "|") }}
                <a href="{{ index $buttonInfo 0 }}">{{ index $buttonInfo 1 }}</a>
            {{ end }}
        {{ end }}
    </section>
</div>
