{{ $centerImage := .Get "centerimage" }}
{{ $headerText := .Get "header" }}
{{ $descriptionText := .Get "description" }}
{{ $primaryButton := .Get "primary-button" }}
{{ $secondaryButton := .Get "secondary-button" }}

<div data-solus-component="banner" {{ with .Get "subclass" }}data-solus-minor-component="{{ . }}"{{ end }}>
	<section>
		{{ with .Get "centerimage" }}<img src="{{- . -}}" />{{ end }}
		{{ with .Get "header" }}<h1>{{- safeHTML . -}}</h1>{{end}}
		<p>{{ $descriptionText | safeHTML }}</p>
		{{ if or (isset .Params "primary-button") (isset .Params "secondary-button") }}
			<span data-solus-button-count="
				{{- if and (isset .Params "primary-button") (isset .Params "secondary-button") -}}
					2
				{{- else -}}
					1
				{{- end -}}
			">
				{{ range $button := (slice $primaryButton $secondaryButton) }}
					{{ if (ne $button "") }}
						{{ $buttonInfo := (split $button "|") }}
						<a data-solus-component="button" href="{{ index $buttonInfo 0 }}">{{ index $buttonInfo 1 }}</a>
					{{ end }}
				{{ end }}
			</span>
		{{ end }}
	</section>
</div>
