{{ $bannerHeight := .Get "height" }}
{{ $headerText := .Get "header" }}
{{ $descriptionText := .Get "description" }}
{{ $primaryButton := .Get "primary-button" }}
{{ $secondaryButton := .Get "secondary-button" }}

<div data-solus="banner"
{{ with .Get "height" }}data-banner-height="{{ . }}"{{ end }}
{{ with .Get "subclass" }} data-solus-type="{{ . }}"{{ end }}>
	<section>
		{{ if isset .Params "centerimage" }}
			{{ $centerimage := .Get "centerimage"}}
			{{ partial "altimg.html" (dict "image" $centerimage "dir" "/imgs/") }}
		{{ end }}
		{{ with .Get "header" }}<h1>{{- safeHTML . -}}</h1>{{end}}
		<p>{{ $descriptionText | safeHTML }}</p>
		{{ if or (isset .Params "primary-button") (isset .Params "secondary-button") }}
			<span data-solus-button-count="
				{{- if and (isset .Params "primary-button") (isset .Params "secondary-button") -}}
					2
				{{- else -}}
					1
				{{- end -}}
			">
				{{ range $button := (slice $primaryButton $secondaryButton) }}
					{{ if (ne $button "") }}
						{{ $buttonInfo := (split $button "|") }}
						{{ $buttonURL := index $buttonInfo 0 }}
						{{ $buttonName := title (index $buttonInfo 1) }}

						{{ if eq $buttonURL "paypal" }}
							<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
									<input type="hidden" name="cmd" value="_donations">
									<input type="hidden" name="bn" value="TipsandTricks_SP">
									<input type="hidden" name="business" value="root@solus-project.com">
									<input type="hidden" name="item_name" value="Support Solus Project (And Budgie Desktop)">
									<input type="hidden" name="rm" value="0">
									<input type="hidden" name="currency_code" value="EUR">
									<button data-solbit="button" name="submit" type="submit" data-solbit-size="large" data-solbit-enfsize>Donate</button>
							</form>
						{{ else }}
							{{ $buttonURL := $buttonURL | absLangURL }}
							<a data-solbit="button" href="{{ $buttonURL }}" data-solbit-size="large" data-solbit-enfsize>{{ index $buttonName }}</a>
						{{ end }}
					{{ end }}
				{{ end }}
			</span>
		{{ end }}
	</section>
</div>
