<!-- Beginning of Budgie Desktop for Everyone Shortcode -->
<div data-solus="banner" data-solus-type="desktop-for-everyone">
	<section>
		<h1>Desktop for Everyone</h1>
		<p>
			We are continuously improving the Budgie experience in an open, community-driven fashion. We welcome contributions
			via <a href="https://github.com/solus-project/budgie-desktop">GitHub</a>. Budgie is supported by the community through the following:
			<ul>
				<li><a href="https://www.archlinux.org/packages/community/x86_64/budgie-desktop/">budgie-desktop for Arch</a></li>
				<li><a href="https://aur.archlinux.org/packages/budgie-desktop-git/">budgie-desktop-git in Arch User Repository</a></li>
			</ul>
		</p>
	</section>
</div>
<!-- End of Budgie Desktop for Everyone Shortcode -->
