<!-- Beginning of Budgie Desktop for Everyone Shortcode -->
<div data-solus-component="banner" data-solus-minor-component="desktop-for-everyone">
	<section>
		<h1>Desktop for Everyone</h1>
		<p>
			Alongside the first-class experience Budgie has under the Solus, we provide official support for
			<a href="http://software.opensuse.org/download.html?project=home%3Aikeydoherty%3Asolus-project&package=budgie-desktop">Fedora and openSUSE</a>
			via OBS and work closely with other distribution packagers to enable Budgie to be available on their chosen platforms.</p>
		<p>
			We are continuously improving the Budgie experience in an open, community-driven fashion. We welcome contributions
			via <a href="https://github.com/solus-project/budgie-desktop">GitHub</a>. Budgie is supported by the community through the following:
			<ul>
				<li><a href="https://www.archlinux.org/packages/community/x86_64/budgie-desktop/">budgie-desktop for Arch</a></li>
				<li><a href="https://aur.archlinux.org/packages/budgie-desktop-git/">budgie-desktop-git in Arch User Repository</a></li>
			</ul>
		</p>
	</section>
</div>
<!-- End of Budgie Desktop for Everyone Shortcode -->
