<!-- Beginning of Budgie Raven Shortcode -->
<div data-solus-component="banner" data-banner-height="normal" data-solus-minor-component="raven">
	<section>
		<h1>Raven</h1>
		<p>
			Budgie ships with an applet, notification and customization center referred to as Raven. Raven enables you to:
			<ul>
				<li>Easily access calendar information, sound volume, media player controls, and more via Applets view.</li>
				<li>Manage incoming application and system notifications via Notifications view</li>
				<li>Customize your Budgie and system experience by enabling you to:
					<ul>
			    		<li>Change icon and widget theming</li>
			    		<li>Add, remove, and modify Budgie panels, their properties as well as their displayed applets.</li>
			    		<li>Obtain quick access to system settings and power options such as restart, suspend, and shutdown.</li>
					</ul>
				</li>
			</ul>
		</p>
	</section>
</div>
<!-- End of Budgie Raven Shortcode -->
