{{ $site := .Site }}
<div class="downloads">
<!-- TODO Change edition title to Xfce once ISO scripts match-->
{{ range $edition := (slice "Budgie" "GNOME" "Plasma" "XFCE-Beta") }}
	{{ $editionInfo := (index $site.Data.isos.info $edition )}}
	{{ $release := printf "Solus-%s-Release-%s" $edition $site.Data.isos.info.Version }}
	{{ $editionISO := printf "%s.iso" $release }}
	{{ $isoURL := printf "https://downloads.getsol.us/isos/%s/%s" $site.Data.isos.info.Version $editionISO | safeURL }}
	<div class="edition">
		<img alt="Solus {{ $edition }} Image" src="{{ $site.BaseURL}}/imgs/release-images/{{ $site.Data.isos.info.Version }}/{{ $edition }}.jpg" />
        <section class="title">
		    <h2>Solus {{ $edition  }}</h1>
		    <h4>{{ $editionInfo.description }}</h4>
        </section>
		<div class="obtain">
			<section class="download">
				<a href="{{ $isoURL }}" target="_blank" class="button">Download</a>
			</section>
			<section class="info">
				Media Size: {{ $editionInfo.mediasize }}<br />
				{{ $torrent := printf "%s%s.torrent" $site.Data.isos.info.TorrentLocation $release | safeURL }}
				Alternative Download: <a href="{{ $torrent }}">Torrent</a><br />
				SHA256SUMS: <a href="{{ $isoURL }}.sha256sum" target="_blank">File</a> | <a href="{{ $isoURL }}.sha256sum.sign" target="_blank">Signed File</a> | <a href="https://downloads.getsol.us/gpg/solus-releng-pub.gpg" target="_blank">Public Key</a>
			</section>
		</div>
	</div>
{{ end }}
	<div class="edition">
        <section class="more">
            <h2> More Information </h1>
            <h4> System Requirements </h4>
            <p>
                Ensure your system meets <a href="https://help.getsol.us/docs/user/quick-start/installation/system-requirements">our installation requirements</a>!
            </p>

            <h4> Need assistance? </h4>
            <p>
                Feel free to reach out on our <a href="https://matrix.to/#/#solus:matrix.org"> Support room on Matrix chat</a>!
            </p>
            {{ partial "donate" }}
		</section>
	</div>
</div>
