{{ $site := .site }}
<!-- Beginning of Budgie applets partial -->
<div data-solus-component="budgie-applets-view">
	<h1>Customizable. Extensible.</h1>
	<p>Customizing your desktop has never been simpler. Right from Raven, you are able to customize and extend Budgie to meet your needs!
		We also have a wide range of applets that you can add directly to Budgie, listed below!
	</p>
	{{ range $appletsVia := (slice "official" "community") }}
		<section>
			<h2>{{ $appletsVia | title}}</h2>
			{{ $applets := (index $site.Data.applets $appletsVia) }}
			{{ range $applets }}
				<div data-solus-minor-component="budgie-applet">
					<img src="{{ $site.BaseURL }}imgs/icons/{{ .Icon }}.png" />
					<b>{{ .Name }}</b>
					<span>{{ .Description }}</span>
				</div>
			{{ end }}
		</section>
	{{ end }}
</div>
<!-- End of Budgie applets partial -->
