<div class="panel row full-width built rd-md">
  <section>
    <h1>Built for people like you, by people like you</h1>
    <p>
      Solus is empowered by the shared vision of a strong community working for
      a common goal. All developments and improvements to Solus are by people
      who want to use their computers just like you do. Solus stands strong on
      an open platform, powered by industry-proven technologies, including
      GNU/Linux*.
    </p>
    <div class="menu">
      <nav>
        <a class="button white rd-sm" href="/solus/team">Team</a>
        <a class="button white rd-sm" href="/solus/technologies"
          >Technologies</a
        >
      </nav>
    </div>
  </section>
  <img alt="Heart symbol" src="{{ .Site.BaseURL }}/imgs/panels/built.png" />
</div>
