<div class="panel row full-width designed rd-md">
  <section>
    <h1>Designed for Everyone</h1>
    <p>
      Solus provides a multitude of experiences that enable you to get the most
      out of your hardware.
    </p>
    <p>
      From our flagship Budgie experience for modern devices to the more
      traditional Xfce experience for lower-end devices, Solus aims to provide
      the best experience for your device.
    </p>
    <div class="menu">
      <nav>
        <a class="button rd-sm" href="/solus/experiences">Learn More</a>
      </nav>
    </div>
  </section>
  <img
    alt="Xfce Desktop screenshot"
    src="{{ .Site.BaseURL }}/imgs/release-images/{{ .Site.Data.isos.info.Version }}/Xfce.jpg"
  />
</div>
