{{ $title := .Page.Title }}
<div class="panel row full-width centered solus rd-md">
  <img
    alt="Laptop graphic with Budge Desktop screenshot on screen"
    src="{{ .Site.BaseURL }}/imgs/panels/solus/laptop-budgie.png"
  />
  <section class="center">
    <h1>Solus</h1>
    <p>
      Solus is a fully independent, cohesive, and easy-to-use home operating
      system with rolling updates to ensure you always have the newest
      software.
    </p>
    <div class="menu">
      <nav>
        {{ if eq $title "home"}}
        <a class="button hover inverse rd-sm" href="/solus/about">Learn More</a>
        {{ end }}
        <a class="button hover inverse rd-sm" href="/download">Download</a>
      </nav>
    </div>
  </section>
</div>
