{{- $to := .Get "to" -}}
{{- $text := .Get "text" -}}

{{- $external := strings.HasPrefix $to "http" -}}
{{- $href := cond (strings.HasPrefix $to "/") ($to | relURL) $to -}}

{{- /* Hack to remove any trailing whitespace from the element. */ -}}
{{- with $href -}}
    <a class="text-[color:hsl(var(--primary-hue),100%,50%)] underline underline-offset-2 decoration-from-font" href={{ $href }} target="_blank" rel="noopener">{{- $text }}{{ if $external }} <svg class="inline rtl:rotate-270 align-baseline" height="1em" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m9.1716 7.7574h7.0711m0 0v7.0711m0-7.0711-8.4853 8.4853" stroke-linecap="round" stroke-linejoin="round"></path></svg>{{ end -}}</a>
{{- end -}}
