{{- $heading := .Get "heading" -}}
{{- $alt := .Get "alt" | default false -}}

{{- if eq $alt true -}}
    <section class="solus-section alt">
        <div class="solus-section-inner">
            <h2 class="text-4xl md:text-3xl font-semibold mb-10 text-(--color-primary-500)">{{ $heading }}</h2>
            {{ .Inner }}
        </div>
    </section>
{{- else -}}
    <div class="solus-section">
        <section class="solus-section-inner">
            <h2 class="text-4xl md:text-3xl font-semibold mb-10 text-(--color-primary-500)">{{ $heading }}</h2>
            {{ .Inner }}
        </section>
    </div>
{{- end -}}
