{{ $site := .site }}
{{ $content := .content }}
<div data-solus="download-banner">
	<h1>Install today. Updates forever.</h1>
	<h2>Simply choose an edition!</h2>
</div>
<div data-solbit="content" data-solus="download-page">
	<div data-solus="download-grid">
		{{ range $edition := (slice "Budgie" "GNOME" "MATE" "Plasma") }}
			{{ $editionInfo := (index $site.Data.isos.info $edition )}}
			<!-- For each edition -->
			<div data-solus="solus-edition">
				<img alt="Solus {{ $edition }} Image" src="{{ $site.BaseURL}}/imgs/release-images/{{ $site.Data.isos.info.Version }}/{{ $edition }}.jpg" />
				<h1>Solus {{ $edition  }}</h1>
				<h2>{{ $editionInfo.description }}</h2>
				<div data-solus="edition-obtain">
					<section data-solus="solus-direct-download">
						<div data-solus="buttongroup">
							{{ $fullurl := printf "%sSolus-%s-%s.iso" "https://mirrors.rit.edu/solus/images/4.1/" $site.Data.isos.info.Version $edition | safeURL }}
							<a href="{{ $fullurl }}" target="_blank" data-solbit="button" data-solbit-custom data-solbit-toggleable data-solus="solus-all-mirrors">Download</a>
						</div>
					</section>
					<section data-solus-type="solus-extra-info">
						Media Size: {{ $editionInfo.mediasize }}<br />
						Alternative Download: <a href="{{ $editionInfo.torrent }}">Torrent</a><br />
						{{ $sha256url := printf "https://mirrors.rit.edu/solus/images/%s/Solus-%s-%s.iso.sha256sum" $site.Data.isos.info.Version $site.Data.isos.info.Version $edition | safeURL }}
						SHA256SUMS: <a href="{{ $sha256url }}" target="_blank">File</a> | <a href="{{ $sha256url }}.sign" target="_blank">Signed File</a> | <a href="https://getsol.us/releases/joshua-strobl.gpg" target="_blank">Public Key</a>
					</section>
				</div>
			</div>
		{{ end }}

		<div data-solus="solus-download-info">
			<section>
				{{ $content }}
			</section>
		</div>
		<a title="hidden-download-url"></a>
	</div>
</div>