{{ $site := .site }}
{{ $content := .content }}
<div data-solus="download-banner">
	<h1>Install today. Updates forever.</h1>
	<h2>Simply choose an edition!</h2>
</div>
<div data-solbit="content" data-solus="download-page">
	<div data-solus="download-grid">
		{{ range $edition := (slice "Budgie" "GNOME" "MATE" "Plasma") }}
			{{ $editionInfo := (index $site.Data.isos.info $edition )}}
			{{ $release := printf "Solus-%s-%s" $site.Data.isos.info.Version $edition }}
			{{ $editionISO := printf "%s.iso" $release }}
			{{ $isoURL := printf "https://mirrors.rit.edu/solus/images/%s/%s" $site.Data.isos.info.Version $editionISO | safeURL }}
			<!-- For each edition -->
			<div data-solus="solus-edition">
				<img alt="Solus {{ $edition }} Image" src="{{ $site.BaseURL}}/imgs/release-images/{{ $site.Data.isos.info.Version }}/{{ $edition }}.jpg" />
				<h1>Solus {{ $edition  }}</h1>
				<h2>{{ $editionInfo.description }}</h2>
				<div data-solus="edition-obtain">
					<section data-solus="solus-direct-download">
						<div data-solus="buttongroup">
							<a href="{{ $isoURL }}" target="_blank" data-solbit="button" data-solbit-custom data-solbit-toggleable data-solus="solus-all-mirrors">Download</a>
						</div>
					</section>
					<section data-solus-type="solus-extra-info">
						Media Size: {{ $editionInfo.mediasize }}<br />
						{{ $torrent := printf "%s%s.torrent" $site.Data.isos.info.TorrentLocation $release | safeURL }}
						Alternative Download: <a href="{{ $torrent }}">Torrent</a><br />
						SHA256SUMS: <a href="{{ $isoURL }}.sha256sum" target="_blank">File</a> | <a href="{{ $isoURL }}.sha256sum.sign" target="_blank">Signed File</a> | <a href="https://getsol.us/releases/joshua-strobl.gpg" target="_blank">Public Key</a>
					</section>
				</div>
			</div>
		{{ end }}

		<div data-solus="solus-download-info">
			<section>
				{{ $content }}
				<a href="https://opencollective.com/getsolus/donate" target="_blank">
					<img src="https://opencollective.com/getsolus/donate/button@2x.png?color=blue" width=300 />
				</a>
			</section>
		</div>
		<!--<a title="hidden-download-url"></a>-->
	</div>
</div>