<div data-solus-component="helpcenter-banner">
	<div data-solus-component="helpcenter-banner-welcome">
		<h1>Help Center</h1>
		<h2>Get answers to common questions</h2>
		<input t[ype="text" placeholder="What can we help you with?" />
	</div>
	<div data-solus-component="helpcenter-banner-nav">
		<section>
				<a data-solbit-icon="categories" href="{{ .BaseURL}}help-center/categories">Categories</a>
				<a data-solbit-icon="users" href="{{ .BaseURL}}help-center/contact">Contact Us</a>
		</section>
	</div>
</div>