<div data-solus-component="helpcenter-banner">
	<div data-solus-component="helpcenter-banner-welcome">
		<h1><a href="{{.BaseURL}}help-center/home">Help Center</a></h1>
		<h2>Get answers to common questions</h2>
		<input type="text" placeholder="Search is coming soon!" disabled />
	</div>
	<div data-solus-component="helpcenter-banner-nav">
		<section>
				<a data-solbit-icon="categories" href="{{ .BaseURL}}help-center/categories">Categories</a>
				<a data-solbit-icon="users" href="{{ .BaseURL}}help-center/contact">Contact Us</a>
		</section>
	</div>
</div>